:root {
    --spacing: .25rem;
    --color-red-500: oklch(.637 .237 25.331);
    --color-green-500: oklch(.723 .219 149.579);
    --color-green-500: oklch(.723 .219 149.579);
    --primary: #6338f0;
}

.dark\:bg-primary\/70:where(.dark, .dark *) {
    background-color: color-mix(in oklab, var(--primary) 70%, transparent);
}

.dark\:bg-orange-500:where(.dark, .dark *) {
    background-color: var(--color-orange-500);
}

.dark\:bg-green-500:where(.dark, .dark *) {
    background-color: var(--color-green-500);
}

.dark\:bg-red-500:where(.dark, .dark *) {
    background-color: var(--color-red-500);
}

.p-4 {
    padding: calc(var(--spacing) * 4);
}